@charset "UTF-8";
/* normalize */
body,ul,ol,li,p,strong { margin:0; padding:0; list-style:none;}
a { color:inherit; text-decoration:none;}
button {margin:0; padding:0; font: inherit;}
input[type=submit] {font-family:inherit;}
* {box-sizing:border-box;}
button {margin:0; padding:0; font: inherit;}
input[type=submit] {font-family:inherit;}
hr {margin:0; padding:0;}

/* common */
.con { margin-left:auto; margin-right:auto;}
.cursor_p { cursor:pointer;}

/* display */
.block {display:block;}
.inline { display:inline;}
.inline_block { display:inline-block;}
.inline_flex { display:inline-flex;}
.none {display:none;}

/* position */
.fixed {position:fixed;}
.relative { position: relative;}
.absolute { position: absolute;}
	/* absolute */
.absolute_top { position:absolute; top:0;}
.absolute_left { position:absolute; left:0;}
.absolute_right { position:absolute; right:0;}
.absolute_bottom { position:absolute; bottom:0;}
.absolute_top_center { position:absolute; top:0; left:50%; transform: translateX(-50%);}
.absolute_bottom_center { position:absolute; bottom:0; left:50%; transform: translateX(-50%);}
.absolute_center_center { position:absolute; top:50%; left: 50%; transform: translateX(-50%) translateY(-50%);}

/* float */
.row::after {content:""; clear:both; display:block;}
.cell { float:left; box-sizing:border-box;}
.cell_right { float:right; box-sizing:border-box;}

/* flex */
.flex {display:flex; -ms-flex: flex;}
.flex_auto { display:flex; flex:auto;}
.flex_1_0_0 {display:flex; flex:1 0 0; -ms-flex: flex; -ms-flex:1 0 auto;}
.flex_wrap_no { flex-wrap:nowrap; -ms-flex-wrap: nowrap;}
.flex_wrap_wrap { flex-wrap:wrap; -ms-flex-wrap:wrap;}
.flex_jc_sa { display:flex; justify-content:space-around;}
.flex_jc_sb { display:flex; justify-content:space-between; -ms-flex-pack: justify;}
.flex_jc_se { display:flex; justify-content:space-evenly;}
.flex_jc_c { display:flex; justify-content:center; -ms-flex-pack: center;}
.flex_jc_s { display:flex; justify-content:flex-start; -ms-flex-pack: start;}
.flex_jc_e { display:flex; justify-content:flex-end; -ms-flex-pack: end;}
.flex_ai_c { display:flex; align-items:center; -ms-flex-align: center;}
.flex_ai_fs { display:flex; align-items:flex-start; -ms-flex-align: start;}
.flex_ai_fe { display:flex; align-items:flex-end; -ms-flex-align: end;}
.flex_ai_str { display:flex; align-items:stretch; -ms-align-items:stretch;}
.flex_as_c { display:flex; align-self: center;}
.flex_as_e { display:flex; align-self: flex-end;}

/* width */
.width_100p { width:100%;}
.width_60p { width:60%;}
.width_50p { width:50%;}
.width_20p { width:20%;}
.width_10p { width:10%;}

/* height */
.height_100p {height:100%;}
.heigth_50p {height:50%;}

/* padding */
.pad_top_10 {padding-top:10px;}
.pad_top_20 {padding-top:20px;}
.pad_top_30 {padding-top:30px;}
.pad_bot_10 {padding-bottom: 10px;}
.pad_bot_20 {padding-bottom: 20px;}
.pad_bot_30 {padding-bottom: 30px;}

/* margin */
.mar_bot_20 { margin-bottom:20px;}
.mar_bot_30 { margin-bottom:30px;}

/* font */
.f_fff { color:#fff;}
.f_000 { color:#000;}
.f_f00 { color:#f00;}
.f_0f0 { color:#0f0;}
.f_00f { color:#00f;}
.text_align_center {text-align:center;}
.text_align_right {text-align: right;}
.text_align_left { text-align:left;}
.white_space_no { white-space: nowrap;}
.font-b { font-weight:bold;}
